body {
  margin: 0px;
  font-family: 'pt_serif', sans-serif;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -100px;
  margin-left: -100px;
  background: url(img/load.gif);
  -webkit-animation: load .3s ease-out 0.9s forwards;
  -moz-animation: load .3s ease-out 0.9s forwards;
  -o-animation: load .3s ease-out 0.9s forwards;
  animation: load .3s ease-out 0.9s forwards;
  transform-origin: center;
}
@-webkit-keyframes scales {
  from {
    -webkit-transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
  }
}
@-moz-keyframes scales {
  from {
    -webkit-transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
  }
}
@-o-keyframes scales {
  from {
    -webkit-transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
  }
}
@keyframes scales {
  from {
    -webkit-transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
  }
}
@-webkit-keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes load {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.wrapper {
  width: 80%;
  margin: auto;
  -webkit-animation: scales .5s ease-out 1s forwards;
  -moz-animation: scales .5s ease-out 1s forwards;
  -o-animation: scales .5s ease-out 1s forwards;
  animation: scales .5s ease-out 1s forwards;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  transform-origin: top center;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  position: relative;
  width: 190px;
  height: 35px;
  margin-left: 4px;
  padding: 39px 0 37px 44px;
  font: bold 24px/32px "pt_serifbold", arial, helvetica, sans-serif;
  }
.logo__circle {
  position: absolute;
  top: 49%;
  left: 0px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
  transform: translateY(-50%);
}
.logo__circle_color_blue {
  top: 55%;
  left: 8px;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 377px;
  margin-top: 6px;
  margin-right: 9px;
}
.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px "Roboto", arial, helvetica, sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #000;
}
.menu__item:after {
  position: absolute;
  left: 50%;
  display: block;
  width: 0;
  height: 3px;
  background: #0056EC;
  content: '';
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  transform:translateX(-50%);
}
.menu__item:hover {
  color: #0056EC;
}
.menu__item:hover:after, .menu__item_active:after {
  width: 100%;
  opacity: 1;
}
.menu__item:last-child {
  margin-right: 0;
}
.main{
  margin-right: 5px;
  padding: 150px 63% 170px 3px;
  background: url(img/backmain.svg) top right no-repeat;
  background-size: 50.3%;
  background-position-y: 131px;
}
.main__title {
  margin: 55px 0 36px 0px;
  font: bold 66px/87px pt_serifbold, arial, helvetica, sans-serif;
}
.main__title-text_highlight {
  background: #ECF3FF;
}
.main__subtitle {
  width: 455px;
  height: 52px;
  margin: 0 0 41px 0;
  font: 22px/26px Roboto, arial, helvetica, sans-serif;
}
.main__button {
  display: inline-block;
  margin-left: 1px;
  padding: 19px 37px 17px 21px;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
  -webkit-animation: scale 1s ease-in-out 1s;
  -moz-animation: scale 1s ease-in-out 1s;
  animation: scale 1s ease-in-out 1s;
  transition: color 0.4s, background-color 0.5s;
}
.main__button:hover {
  color: #663366;
  background-color: #CCFFFF;
}
@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes scale {
  from {
    -moz-transform: scale(0);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-o-keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media (max-width: 1400px) {
  .wrapper {
    width: 68.5%;
  }
  .menu {
    margin-top: 8px;
    margin-right: 7px;
    width: 315px;
  }
  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }
  .main {
    padding: 45px 55% 200px 3px;
    background-size: 55%;
    background-position-y: 85px;
  }
  .main__title {
    margin: 57px 0 40px 0px;
    font: 700 50px/65px pt_serifbold, arial, helvetica, sans-serif;
  }
  .main__subtitle {
    margin-bottom: 31px;
    width: 370px;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  }
  .main__button {
    padding: 15px 25px 13px 16px;
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }
}
@media (max-width: 1100px) {
  .wrapper {
    width: 92%;
  }
  .logo {
    margin-left: 5px;
  }
  .menu {
    margin-right: 5px;
  }
  .main {
    padding-left: 5px;
  }
}
@media (max-width: 830px) {
  .wrapper {
    width: 90%;
    margin: auto;
  }
  .menu, .app {
    display: none;
  }
  .header {
    height: 50px;
    margin-bottom: 37px;
  }
  .logo {
    margin-left: 5px;
    padding: 24px 0;
  }
  .logo__circle_color_blue {
    top: 55%;
    left: 8px;
  }
  .logo__circle_color_dark-blue {
    top: 46%;
  }
  .main {
    margin: 0;
    padding: 77% 0 0 0;
    text-align: center;
    background-position: top center;
    background-size: 83%;
  }
  .main__title {
    margin: 1px 0px 33px 6px;
    font: bold 30px/39px pt_serifbold, arial, helvetica, sans-serif;
  }
  .main__subtitle {
    width: 73%;
    height: 57px;
    margin-bottom: 25px;
    padding: 0 14.5%;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
    text-align: center;
  }
  .main__button {
    margin: 0;
    padding: 15px 25px 13px 17px;
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }
}
@media (min-width: 821px) {
  .hmenu {
    display: none;
  }
}
#hmenu__toggle {
  opacity: 0;
}
#hmenu__toggle:checked ~ .hmenu__btn > span {
  transform: rotate(45deg);
}
#hmenu__toggle:checked ~ .hmenu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#hmenu__toggle:checked ~ .hmenu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#hmenu__toggle:checked ~ .hmenu__box {
  visibility: visible;
  left: 0;
}
.hmenu__btn {
  position: fixed;
  top: 28px;
  right: 24px;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.hmenu__btn > span,
.hmenu__btn > span::before,
.hmenu__btn > span::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
  transition-duration: .25s;
}
.hmenu__btn > span::before {
  top: -7px;
  content: '';
}
.hmenu__btn > span::after {
  top: 7px;
  content: '';
}
.hmenu__box {
  position: fixed;
    top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  list-style: none;
  visibility: hidden;
}
.hmenu__item {
  display: block;
  padding: 13px 17px 12px 3px;
  font: 500 30px/35px "Roboto", arial, helvetica, sans-serif;
  text-decoration: none;
  color: #333;
  transition-duration: .25s;
}
.hmenu__item:hover {
  background-color: #CFD8DC;
}
