body {
  margin: 0px;
  font-family: 'pt_serif', sans-serif;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 38px 0;
  margin-left: 5px;
  font: bold 24px/32px "pt_serifbold", arial, helvetica, sans-serif;
  padding-left: 44px;
  width: 190px;
  height: 35px;

  }

.logo__circle {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
  border: dashed 1px red;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  font-style: normal;
  margin-right: 26px;
  color: #000;
  text-decoration: none;
}

.menu__item:after {
 position: absolute;
 left: 50%;
 display: block;
 content: '';
 width: 0;
 height: 3px;
 background: #0056EC;
 -webkit-transition: width .3s ease-in-out;
 -moz--transition: width .3s ease-in-out;
 transition: width .3s ease-in-out;
 -webkit-transform:translateX(-50%);
 -moz-transform:translateX(-50%);
 transform:translateX(-50%);
}

.menu__item:hover {
  color: #0056EC;
}

.menu__item:hover:after, .menu__item_active:after {
 opacity: 1;
 width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}

.main{
  margin-right: 14px;
  margin-top: 70px;
  padding: 72px 62% 200px 0;
  background:top right no-repeat url(img/mainimg.svg);
}

.main__title {
  margin-bottom: 0 0 40px 0;
  font: bold 66px/87px pt_serifbold, arial, helvetica, sans-serif;
  width: 567px;
  height: 255px;
  left: calc(50% - 567px/2 - 481.5px);
  top: 318px;
  z-index: 1;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
 margin-bottom: 0 0 41px 0;
 width: 455px;
 height: 52px;
 font: 22px/26px Roboto, arial, helvetica, sans-serif;

}

.main__button {
  display: inline-block;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .4s;
}
.main__button:hover {
  opacity: .7;
}

/*.main__title-text_highlight {
  border: dashed 1px red;
  position: absolute;
  width: 497px;
  height: 70px;
  background: #ECF3FF;
  left: calc(50% - 497px/2 - 515.5px);
  top: 415px;
  z-index: -1;
}
*/
