
.wrapper {
  font-family: Helvetica;
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__circle {

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue {
  background: #0056EC;
}

.menu {
  font-family: pt_serifbold_italic;
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 5px;
}

.menu__item:last-child {
  padding-right: 0;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.image-content__image {
  height: 200px;
  width: 320px;
}
.main-content {
  flex-direction: column;
  width: 65%
}

.main-content__title {
  display: flex;
  justify-content: center;
  color: brown;
}

.main-content__subtitle {
  display: flex;
  justify-content: center;
}

.main-content__donations {
  display: flex;
  justify-content: center;
  align-items: flex-end /* как ее опустить в конец страницы, я когда-нибудь узнаю точно*/
}
